<!-- Account Block (Login/Logout) -->
<div id = "account_block" class = "global_item">
	<ul id = "global_account_block" class = "global_horizontal_block">
		<li class = "inline account_block_item">Login</li>
		<li class = "inline account_block_item default_hide">Logout</li>
		<li class = "inline account_block_item">Register</li>
	</ul>
</div>
<!-- Menu Block -->
<div id = "menu_block" class = "global_item">
	<ul id = "global_menu_block" class = "global_horizontal_block">
		<li class = "menu_item inline">Home</li>
		<li class = "menu_item inline">View</li>
		<li class = "menu_item inline">About</li>
		<hr/>
	</ul>
</div>