<!-- Account Block (Login/Logout) -->
<div id = "account_block" class = "global_item">
	<ul id = "global_account_block" class = "global_horizontal_block">
		<li class = "inline account_block_item"><a (click) = "login()">Login</a></li>
		<li class = "inline account_block_item default_hide"><a (click) = "logout()">Logout</a></li>
		<li class = "inline account_block_item"><a (click) = "register()">Register</a></li>
	</ul>
</div>
<!-- Menu Block -->
<div id = "menu_block" class = "global_item">
	<ul id = "global_menu_block" class = "global_horizontal_block">
		<li class = "menu_item inline">Home</li>
		<li class = "menu_item inline">View</li>
		<li class = "menu_item inline">About</li>
		<hr/>
	</ul>
</div>